<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Order List </h2>

    </div>
    <div>
      {{!-- <input type="text" placeholder="Search order ID" class="form-control bg-white"> --}}
    </div>
  </div>
  <div class="card mb-4">
    {{!-- <header class="card-header">
      <div class="row gx-3">
        <div class="col-lg-4 col-md-6 me-auto">
          <input type="text" placeholder="Search..." class="form-control">
        </div>
        <div class="col-lg-2 col-6 col-md-3">
          <select class="form-select">
            <option>Status</option>
            <option>Active</option>
            <option>Disabled</option>
            <option>Show all</option>
          </select>
        </div>
        <div class="col-lg-2 col-6 col-md-3">
          <select class="form-select">
            <option>Show 20</option>
            <option>Show 30</option>
            <option>Show 40</option>
          </select>
        </div>
      </div>
    </header> <!-- card-header end// --> --}}
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th>Address</th>

              <th scope="col">Amount</th>
              <th scope="col">Payment</th>
              <th scope="col">status</th>
            </tr>
          </thead>
          <tbody>
            {{#each orders}}
            <tr>
              <td>{{this.displayDate}}</td>
              <td>{{this.deliveryDetails}}</td>

              <td>{{this.totalAmount}}</td>
              <td>{{this.paymentMethod}}</td>
              {{!-- <td>{{this.status}}</td> --}}


              <td class="align-middle fw-b" id="select">


                {{#ifCheck this.status 'delivered'}}
                <option value="delivered">Delivered</option>
                {{/ifCheck}}


                {{#ifCheck this.status 'canceled'}}
                <option value="canceled">Cancelled</option>
                {{/ifCheck}}


                {{#ifCheck status 'placed'}}
                <select class="form-control" id="{{this._id}}1" onchange="statusChange('{{this._id}}')"
                  style="width: 90px;">
                  <option selected="true" disabled="disabled" style="background-color: blue; color: white;">
                    {{this.status}}</option>
                  <option value="shipped">Shipped</option>
                  <option value="delivered">Delivered</option>
                  <option value="canceled">Canceled</option>
                </select>
                {{/ifCheck}}



                {{#ifCheck status 'pending'}}
                <select class="form-control" id="{{this._id}}1" onchange="statusChange('{{this._id}}')"
                  style="width: 90px;">
                  <option selected="true" disabled="disabled" style="background-color: blue; color: white;">
                    {{this.status}}</option>
                  {{!-- <option value="pending">Pending</option> --}}
                  <option value="placed">Placed</option>
                  <option value="shipped">Shipped</option>
                  <option value="delivered">Delivered</option>
                  <option value="canceled">Canceled</option>
                </select>
                {{/ifCheck}}


                {{#ifCheck status 'shipped'}}
                <select class="form-control" id="{{this._id}}1" onchange="statusChange('{{this._id}}')"
                  style="width: 90px;">
                  <option selected="true" disabled="disabled" style="background-color: blue; color: white;">
                    {{this.status}}</option>
                  <option value="delivered">Delivered</option>
                  <option value="canceled">Canceled</option>
                </select>
                {{/ifCheck}}


              </td>

              {{!-- <td><span class="badge rounded-pill alert-success">{{this.status}}</span></td> --}}
              {{!--
              <td>
                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i
                    class="material-icons md-more_horiz"></i> </a>

                <a href="/view-orders-products?id={{this._id}}" class="btn btn-success">View Products</a>

              </td>
              <td>
                <a href="/cancel-order/{{this._id}}" class="btn btn-danger rounded font-sm "
                  onclick="return confirm('Are you sure to cancel order {{this.Name}}?')">Cancel Order</a>
                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i
                    class="material-icons md-more_horiz"></i> </a>
              </td> --}}

              <td class="text-end">
                {{!-- <a href="/view-orders-products{{this._id}}" class="btn btn-info rounded font-sm"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen"
                    viewBox="0 0 16 16">
                    <path
                      d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                  </svg></a> --}}
                {{!-- <a href="/cancel-order/{{this._id}}" class="btn btn-danger rounded font-sm"
                  onclick="return confirm('Are you sure to cancel order {{this.Name}}?')"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16">
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                  </svg></a> --}}
              </td>

            </tr>
            {{/each}}
          </tbody>
        </table>
      </div> <!-- table-responsive //end -->
    </div> <!-- card-body end// -->
  </div> <!-- card end// -->
  <div class="pagination-area mt-15 mb-50">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-start">
        {{#each pages}}
        <li class="page-item active"><a class="page-link" href="/admin/view-orders/?page={{this}}">{{this}}</a></li>
        {{/each}}

        {{!-- <li class="page-item"><a class="page-link" href="/admin/view-orders/?page=2">2</a></li>
        <li class="page-item"><a class="page-link" href="/admin/view-orders/?page=3">3</a></li>
        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="#">16</a></li>
        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
        --}}
      </ul>
    </nav>
  </div>
</section> <!-- content-main end// -->

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  //ADMIN ORDER STATUS
  function statusChange(orderId, status) {

    var status = document.getElementById(orderId + 1).value;

    swal.fire({

      title: "Are you sure?",
      text: "Do you want to " + status + " the order",

      showCancelButton: true,
      confirmButtonColor: "#DD6B55",
      confirmButtonText: "Yes, " + status + " it!",
      cancelButtonText: "No!",

    }).then((result) => {
      if (result.isConfirmed) {
        console.log(orderId, status, "ddddddddddddssssssssss")
        $.ajax({
          url: '/admin/order-status',
          data: {
            orderId,
            status
          },
          method: 'post',
          success: (response) => {
            if (response.status) {
              document.getElementById(orderId).innerHTML = status
              if (status == 'pending' || status == 'placed' || status == 'shipped' || status == 'delivered' || status == 'canceled') {
                location.reload()
              }
            }
          }
        })

      }

    })
  }


</script> 